body {
   background-image:url(../img/diagonal-squares.png);
}

.logo {
    font-family:'Peralta',cursive;
}

.logo a {
    color:white;
}

.logo a:hover,
.logo a:active {
    text-decoration:None;
}
